html {
  padding: 200px;
  /* background-color: black; */
}

body {
  text-align: center;
  /* background-color: white; */
}

.column {
  width: 100px;
  height: 100px;
  margin: 0px;
  border: 2px black solid;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
}

.row {
  width: 400px;
  margin: 0px auto;
  display: flex;
  justify-content: center;
}

.marker {
  width: 80px;
  height: 80px;
}

#noughtsAndCrossesTitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  color: red;
  border: black;
}

#playerOne {
  font-family: 'Roboto', sans-serif;
}

#playerTwo {
  font-family: 'Roboto', sans-serif;
}

#winner-display {
  font-family: 'Roboto', sans-serif;
  display: none;
  background-color: red;
  color: white;
}

#reset-button,
#set-players-button {
  font-family: 'Roboto', sans-serif;
  margin-top: 10px;
  background-color: red; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
